<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>clientes</title>

	<!-- Agrega la referencia al CSS de Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container mt-4">
		<a href="/habitacion/catalogo">Regresar</a>
	<div class="container mt-4">
		<h1>Listado de clientes</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Habitacion id</th>
					<th>fecha inicio </th>
					<th>fecha fin</th>
					<th>Total </th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservas : ${reservas}">
					<td th:text="${reservas.id}"></td>
					<td th:text="${reservas.habitacion_id}"></td>
					<td th:text="${reservas.fecha_inicio}"></td>
					<td th:text="${reservas.fecha_fin}"></td>
					<td th:text="${reservas.total}"></td>
					<td th:text="${reservas.estado}"></td>
					<td>
						
<!--						<a class="btn btn-danger" th:attr="href=|/cliente/eliminar/${cliente.id}|">Eliminar</a>-->
<!--						<a class="btn btn-success" th:attr="href=|/cliente/editar/${cliente.id}|">Editar</a>-->
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>